services:
    gateway:
        build:
            context: ./Support/Gateway.Api
            dockerfile: Dockerfile

        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        ports:
            - "8080:8080"
            - "8443:443"
        networks: 
            - internal
        depends_on:
            - auth-api
            - kafka
        volumes: 
            - ./certs:/https

    auth-api:
        build:
            context: ./Support/Auth.Api
            dockerfile: Dockerfile

        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__Default=Host=auth-db;Port=5432;Database=authdb;Username=postgres;Password=admin
        ports:
            - "8080"
            - "443"
        networks:
            - internal
        depends_on:
            - kafka
            - auth-db
        volumes: 
            - ./certs:/https


    auth-db:
        image: postgres:16
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: authdb
        ports:
            - "5432:5432"
        networks:
            - internal
        volumes:
            - auth-db-data:/var/lib/postgresql/data

    kafka:
        image: apache/kafka-native
        container_name: kafka
        networks:
            - internal
        ports:
            - "9092:9092"
        environment:
            # Configure listeners for both docker and host communication
            KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
            KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

            # Settings required for KRaft mode
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

            # Listener to use for broker-to-broker communication
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

            # Required for a single node cluster
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
     
      
        volumes:
            - kafka-data:/var/lib/kafka/data
   
volumes:
  kafka-data:
  auth-db-data:

networks:
    internal:
        driver: bridge